#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    header {
        flex: 1;
        display: flex;
        justify-content: space-between;
    }
    main {
        list-style: none;
        flex: 4;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
        .card {
            cursor: pointer;
            border: 2px solid wheat;
            border-radius: 0.2em;
            min-height: 20vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                height: 182px;
                width: 182px;
            }
        }
    }
}
